body{
	width: 1400px;
	background: #EEE;
	margin: 0 auto;
	padding: 0;
	/* Subjecto to change*/
	font: 16px Verdana, sans-serif;
}

#container{
	background: #fff;
	z-index: 1;
}

a{
	text-decoration: none;
	color: black;
}

/*
 * Local Flags
 */

.locale-flag{
	width: 300px;
	height: 300px;
}


/*
 * MENU RIBBON
 */
#menu-ribbon{
	height: 128px;
	width: 100%;
	background: white;
	line-height: 128px;
	padding: 0;
	margin-top: 0;
}

#menu-ribbon table{
	height: 128px;
	float: right;
	line-height: 90px;
}
#menu-ribbon table td{
	cursor: pointer;
	margin-left: 10px;
	perspective: 800px;
	z-index: 1;
}
#menu-ribbon table div{
	width: 100%;
}
#menu-ribbon table a{
	display: block;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: .2s ease-in-out;
	background: #EEE;
	padding-left: 20px;
	padding-right: 20px;
}
#menu-ribbon table a:after{
	width: 20%;
	height: 100%;
	left: 100%;
	top: 0;
	content: '';
	background: #CCC;
	position: absolute;
	z-index: -1;
	transform-origin: 0% 0%;
	transition: all 0.3s;
	transform: rotateY(90deg);
}
#menu-ribbon table a:hover{
	transform: rotateY(-15deg);
}
#menu-ribbon table:last-child{
	margin-right: 20px;
}

#logo{
	margin-top: 30px;
	margin-left: 30px;
	width: 185px;
	height: 68px;
	float: left;
}

/*
 * Scrolling Ribbon
 */
.scrolling-ribbon{
	width: 100%;
	height: 374px;
	padding: 0;
	margin-top: -30px;
	overflow: hidden;
}

.scrolling-ribbon div{
	width: 4200px; /* 1400 per image */
	height: 100%;
}

.scrolling-ribbon div img{
	width: 1400px;
	height: 374px;
	display: block;
	float: left;
	position:relative;
	margin: 0;
	padding: 0;
}


/*
 * Footer
 */
#footer{
	width: 100%;
	height: 32px;
	background: white;
}

/*
 * Util
 */
.popup{
	width: 600px;
	height: 300px;
	padding: 0;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.blurred{
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}