.button-holder{
	background: cyan;
	width: 1200px;
	height: 222px;
	margin: 010 auto;
	padding: 0;
	overflow: hidden;
}

.button-spinner{
	background: url(img/button.png);
	width: 222px;
	height: 222px;
	margin: 0 auto;
}
.button-text{
	background: url(img/buttonStrip.png);
	width: 0px;
	height: 222px;
	float: left;
	font: 50px Verdana, sans-serif;
	line-height: 222px;
	text-align: center;
	overflow: hidden;
	display: none;
}
.button-left{
	float: left;
	width: 111px;
	height: 222px;
	background: url(img/buttonLeft.png);
	display: none;
	
}
.button-right{
	float: left;
	width: 111px;
	height: 222px;
	background: url(img/buttonRight.png);
	display: none;
	
}