/* Button code */
.button{
	height: 222px;
	width: 1000px;
	font: 70px Tahoma;
	overflow:hidden;
	background: green;
}

.buttonLeftSide{
	background: url("img/buttonLeft.png");
	width: 127px;
	height: 222px;
	float: left;
	overflow:hidden;
}

.buttonRightSide{
	background: url("img/buttonRight.png");
	width: 127px;
	height: 222px;
	float: left;
	overflow:hidden;
}

.buttonContent{
	float:left;
	text-align: center;
	line-height: 190px;
	margin: 16px -15px 0px -20px;
	padding: 0 30px 0 30px;
	background: url("img/buttonStrip.png");
	overflow: hidden;
}

.buttonClosed{
	background: url("img/buttonAfterRotation.png");
	transform: rotate(0deg);
	-webkit-animation: bbb 1s;
	width: 220px;
	height: 222px;
	margin: 0 auto;
}

.buttonClosed:hover{
	-webkit-animation: aaa 1s;
}

@-webkit-keyframes aaa{
	from {transform: rotate(0deg);}
	to {transform: rotate(90deg);}
}

@-webkit-keyframes bbb{
	from {transform: rotate(90deg);}
	to {transform: rotate(0deg);}
}