.button-holder{
	background: cyan;
	width: 1200px;
	height: 300px;
	margin: 0px auto;
	padding: 0;
}

.button-spinner{
	background: url(img/buttonAfterRotation.png);
	width: 222px;
	height: 220px;
	-webkit-transform: rotate(0deg);
}
.button-text{
	background: #AAA;
	width: 10px;
	height: 220px;
	float: left;
	line-height: 222px;
	text-align: center;
	overflow: hidden;
	margin-right: -20px;
}
.button-left{
	float: left;
	width: 127px;
	height: 222px;
	background: url(img/buttonLeft.png);
	display: none;
	
}
.button-right{
	float: left;
	width: 127px;
	height: 222px;
	background: url(img/buttonRight.png);
	display: none;
	
}